@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome - Church Movies</h1>
    <p>Learn about <a href="https://www.churchofjesuschrist.org/?lang=eng">building your faith</a>.</p>
</div>
