@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container">
  <h2>Scripture Journal - Abraham Espinosa</h2>
  <p>Here is where your revelation is stored.</p>            
  <img src="~/images/Book2.jpg" class="img-circle" alt="Book" width="100%" height="100%"> 
</div>